<a href="https://colab.research.google.com/github/sitaarn/Python/blob/main/2ndWeeks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Integer

11

11

In [ ]:
# Float

2.14

2.14

In [ ]:
# String

#print("Hello, Python 102!")
#print("Hello, Python 101!")

"Hello, Python 102!"
#"Hello, Python 101!"

'Hello, Python 102!'

In [ ]:
# Type of 12

type(12)

int

In [ ]:
# Type of "Hello, Python 101"

type("Hello, Python 101!")

str

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [ ]:
# Print the type of -1

type(-1)

int

In [ ]:
type (-6)

int

In [ ]:
# Print the type of 4

type(4)

int

In [ ]:
# Print the type of 0

type(0)

int

In [ ]:
# Print the type of 1.0

type(1.0)

float

In [ ]:
# Print the type of 0.56

type(0.56)

In [ ]:
# System settings about float type
import sys # it is needes to declare the library "sys" before using it
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
# Verify that this is an integer

type(2)

int

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [ ]:
# Casting 1.1 to integer will result in loss of infortmation

int(1.1)

1

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [ ]:
# Convert a float to a string

str(1.2)

'1.2'

In [ ]:
# Value true

True

True

In [ ]:
# Value false

False

False

In [ ]:
# Type of True

type(True)

bool

In [ ]:
# Type of False

type(False)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 1 to boolean

bool(1)

True

In [ ]:
# Convert 0 to boolean

bool(0)

False

In [ ]:
# Convert True to float

float(True)

1.0

In [ ]:
# Write your code below. Don't forget to press SHift+Enter to execute the cell
type(6/2)

float

In [ ]:
# Write your code below. Don't forget to press Shift+Enter
type(6//2)

int

In [ ]:
# Addition operation expression

#43 + 60 + 41

type(10.55+10.5-5)

float

In [ ]:
# Subtraction operation expression

5 * 5

25

In [ ]:
# Division operation expression

25 / 5

5.0

In [ ]:
# Division operation expression

25 / 6

4.166666666666667

In [ ]:
# Integer division operation expression

25 // 5

5

In [ ]:
# Integer division operation expression

25 // 6

4

In [ ]:
# Write you code below. Don't forget to press Shift+Enter
160/60

2.6666666666666665

In [ ]:
# Mathematical expression

30 + 2 * 60 // 10

42

In [ ]:
# Mathematical expression

(30 + 2) * 60

1920

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [ ]:
# Use another variable to atore the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [ ]:
# Overwrite variable with new valu

x = x / 60
print(x)

2.6666666666666665

In [ ]:
x

2.6666666666666665

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [ ]:
# Name the variable meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minute
total_min

142

In [ ]:
float(total_min)

142.0

In [ ]:
a=2
a

2

In [ ]:
print(float(a))

2.0

In [ ]:
# Name the variable meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60
total_hours

2.3666666666666667

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3 + 2 * 2
x

7

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z = x + y
z

17

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang =", panjang)
print("Lebar =", lebar)
print("Tinggi =", tinggi)
print("Keliling =", keliling)
print("Luas =", luas)
print("Volume =", volume)

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Luas = 512.5
Volume = 5125.0

In [ ]:
Shafira_Kalkulus = 85
Shafira_Statistika = 75

Amanda_Kalkulus = 80
Amanda_Statistika = 90

Aditya_Kalkulus = 75
Aditya_Statistika = 80

Nedia_Kalkulus = 95
Nedia_Statistika = 80

Widya_Kalkulus = 85
Widya_Statistika = 85

Hanif_Kalkulus = 75
Hanif_Statistika = 90

Andi_Kalkulus = 70
Andi_Statistika = 75

Dhanar_Kalkulus = 85
Dhanar_Statistika = 85

Hikma_Kalkulus = 80
Hikma_Statistika = 75

# 1. Rata-rata nilai Shafira pada kedua mata kuliah
rata_rata_Shafira = (Shafira_Kalkulus + Shafira_Statistika) / 2

# 2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
jumlah_Hanif_Andi = (Hanif_Kalkulus + Hanif_Statistika + Andi_Kalkulus + Andi_Statistika)

# 3. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah
rata_rata_Kalkulus_Widya_Dhanar_Hikma_Nedia = (Widya_Kalkulus + Dhanar_Kalkulus + Hikma_Kalkulus + Nedia_Kalkulus) / 4
rata_rata_Statistika_Widya_Dhanar_Hikma_Nedia = (Widya_Statistika + Dhanar_Statistika + Hikma_Statistika + Nedia_Kalkulus) / 4

# 4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
rata_rata_Kalkulus_all = (Shafira_Kalkulus + Amanda_Kalkulus + Aditya_Kalkulus + Nedia_Kalkulus + Widya_Kalkulus + Hanif_Kalkulus + Andi_Kalkulus + Dhanar_Kalkulus + Hikma_Kalkulus) / 9

# 5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
rata_rata_Statistika_all = (Shafira_Statistika + Amanda_Statistika + Aditya_Statistika + Nedia_Statistika + Widya_Statistika + Hanif_Statistika + Andi_Statistika + Dhanar_Statistika + Hikma_Statistika) / 9

print('1. Rata-rata nilai Shafira pada kedua mata kuliah:', rata_rata_Shafira)
print('2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah:', jumlah_Hanif_Andi)
print('3. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah:', rata_rata_Kalkulus_Widya_Dhanar_Hikma_Nedia)
print('4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa:', rata_rata_Kalkulus_all)
print('5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa:', rata_rata_Statistika_all

1. Rata-rata nilai Shafira pada kedua mata kuliah: 80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah: 310
3. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah: 86.25
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa: 81.11111111111111
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa: 81.66666666666667

In [ ]:
jam_kerja_per_hari = 8
tarif_per_jam = 30000
jumlah_hari_agustus = 31
hari_tidak_masuk = 3
persen_tunjangan = 0.10
upah_lembur_per_jam = 10000
jam_lembur = 5

# Hitung jumlah hari kerja
hari_kerja = jumlah_hari_agustus - hari_tidak_masuk

# 1. Hitung gaji bulan Agustus
gaji_bulanan = hari_kerja * jam_kerja_per_hari * tarif_per_jam

# 2. Hitung tunjangan
tunjangan = gaji_bulanan * persen_tunjangan

# 3. Hitung gaji total dengan lembur
total_gaji_jika_lembur = gaji_bulanan + (jam_lembur * upah_lembur_per_jam)

print('1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp', gaji_bulanan)
print('2. Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp', tunjangan)
print('3. Gaji total yang diterima oleh Dwi pada bulan Agustus dengan lembur 5 jam: Rp', total_gaji_jika_lembur)

1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp 6720000
2. Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp 672000.0
3. Gaji total yang diterima oleh Dwi pada bulan Agustus dengan lembur 5 jam: Rp 6770000