<a href="https://colab.research.google.com/github/sitaarn/Python/blob/main/3rdWeek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Python is powerful')

Python is powerful

In [ ]:
print('Good Morning')
print('It is rainy today')

Good Morning
It is rainy today

In [ ]:
# print with end whitespace
# print('Good Morning!', end= ' ')

print('Good Morning', end= ' ')

print('It is rainy today')

Good Morning It is rainy today

In [ ]:
print('New Year', 2023, 'See you soon', sep= '. ')

New Year. 2023. See you soon

In [ ]:
number = -10.6

name = "Teknologi Informasi"

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
Teknologi Informasi

In [ ]:
print('Teknologi Informasi ' + 'Universitas Tidar')

Teknologi Informasi Universitas Tidar

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [ ]:
# using input () to take user input
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number: 12
You Entered: 12
Data type of num: <class 'str'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=389a0a2bdef1abfbc915f79a8bf3700b5af03f61adfdfe512978a0ff696d414c
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example File
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 09:20:17--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 09:20:17 (4.15 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent= file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# verify if the file is closed

file1.closed

True

In [ ]:
# see the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [ ]:
# read certain amounty of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# read one line

with open(example1, "r") as file1:
  print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
# iterate through the lines

with open(example1, "r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# read all lines and save as a list

with open(example1, "r") as file1:
    Fileaslist = file1.readlines()

In [ ]:
# print the first line

Fileaslist[0]

'This is line 1 \n'

In [ ]:
# print the second line

Fileaslist[1]

'This is line 2\n'

In [ ]:
# print the third line

Fileaslist[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is a line A")

In [ ]:
# read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is a line A

In [ ]:
# write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# write a new line to text file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [ ]:
# verify if the new line is in the text file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
# verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
# copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
# membuat file.txt yang berisi biodata

with open(r'/content/biodata.txt') as file:
  fileContent = file.read()
  print(fileContent)

Nama		      : Ida Ayu Sita Maheswari Arianti
Program Studi	      : Teknologi Informasi
NPM		      : 2410506014
Alamat		      : Jl. Sunan Bonang IV No.19
Hobi		      : Cooking
Email		      : ariantishita@gmail.com

In [2]:
with open('/content/biodata.txt','r') as testwritefile:
    print(testwritefile.read())

Nama		: Ida Ayu Sita Maheswari Arianti
Program Studi	: Teknologi Informasi
NPM		: 2410506014
Alamat		: Jl. Sunan Bonang IV No.19
Hobi		: Cooking
Email		: ariantishita@gmail.com

In [5]:
# menampilkan biodata

with open(r'/content/biodata.txt') as file:
  fileasList = file.readlines()
  print(fileasList[0])
  print(fileasList[1])
  print(fileasList[5])

Nama		: Ida Ayu Sita Maheswari Arianti

Program Studi	: Teknologi Informasi

Email		: ariantishita@gmail.com

In [10]:
# Membaca dari file biodata.txt dan menyimpannya ke dalam list
with open('/content/biodata.txt', 'r') as readfile:
    fileasList = readfile.readlines()

# Menulis ke file biodata2.txt
with open('/content/biodata2.txt', 'w') as writefile:
    writefile.write(fileasList[0])
    writefile.write(fileasList[2])
    writefile.write(fileasList[1])
    writefile.write(fileasList[3])

In [11]:
with open('/content/biodata2.txt','r') as testwritefile:
    print(testwritefile.read())

Nama		: Ida Ayu Sita Maheswari Arianti
NPM		: 2410506014
Program Studi	: Teknologi Informasi
Alamat		: Jl. Sunan Bonang IV No.19

In [12]:
# membuat kuitansi
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023 13.05")
print(" ")

print("DAFTAR BELANJA:")
print(" ")
item1 = 'Sabun'
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = 'Detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

# hitung total
total = harga1 + harga2 + harga3 + harga4

# daftar belanja
print(f"Sabun       = Rp {harga1}")
print(f"Shampo      = Rp {harga2}")
print(f"Mie Instant = Rp {harga3}")
print(f"Detergen    = Rp {harga4}")

print(" ")
print(f"Total = Rp {total}")

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write("\n")
        writefile.write("Kuitansi - 4 September 2023\n")
        writefile.write("\n")
        writefile.write(item1 + " = Rp " + str(harga1) + "\n")
        writefile.write(item2 + " = Rp " + str(harga2) + "\n")
        writefile.write(item3 + " = Rp " + str(harga3) + "\n")
        writefile.write(item4 + " = Rp " + str(harga4) + "\n")
        writefile.write("\n")
        writefile.write("Total Belanja = Rp " + str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13.05

DAFTAR BELANJA:

Sabun       = Rp 10000
Shampo      = Rp 15000
Mie Instant = Rp 5000
Detergen    = Rp 17500

Total = Rp 47500

In [13]:
with open('/content/Kuitansi.txt','r') as testwritefile:
    print(testwritefile.read())

Selamat Datang di Toko Maju Jaya

Kuitansi - 4 September 2023

Sabun = Rp 10000
Shampo = Rp 15000
Mie instant = Rp 5000
Detergen = Rp 17500

Total Belanja = Rp 47500