<a href="https://colab.research.google.com/github/sitaarn/Python/blob/main/4thWeek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Condition Equal

a = 5
a == 6

False

In [2]:
# Greater than Sign

i = 6
i > 5

True

In [3]:
# Greater than Sign

i = 2
i > 5

False

In [4]:
# Inequality Sign

i = 2
i != 6

True

In [5]:
# Inequality Sign

i = 6
i != 6

False

In [6]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [7]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [8]:
# Compare characters

'B' > 'A'

True

In [9]:
# Compare characters

'BA' > 'AB'

True

In [10]:
"ba" >= 'ba'

True

In [11]:
# If statement example

#age = 19
age = 18

#expression that can be true or false
if age > 18:

    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false
print("move on")

move on

In [12]:
# Else statement example

#age = 17
age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    #print("move on")

print("move on")

you can enter
move on

In [13]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )

print("move on")

go see Pink Floyd
move on

In [14]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [15]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [16]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [17]:
# Condition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [18]:
# Condition statement example

album_year = 1984

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [19]:
# Rating for the album "Back In Black"

rating = 8.5

# Check rating if greater than 8
if rating > 8:
  print('This album is Amazing!')

This album is Amazing!

In [24]:
# Rating for the album "Back in Black"

rating = 7

# Check rating if larger, less, or equal to 8
if rating > 8:
  print('This album is Amazing')
elif rating < 8 or rating == 8:
  print('This album is ok')

This album is ok

In [26]:
# write an if statement to determine if an album came out before 1980 or in the years 1991 or 1993

album_year = 1978

if album_year < 1980 or album_year == 1991 or album_year == 1993:
  print ('This album came out already')

This album came out already

In [37]:
# Weekly Exercise 1

umur = int(input('Umur = '))

if umur <= 17:
  print('Tidak Boleh Membuat SIM')
elif umur >= 17:
  print('Boleh Membuat SIM')

Umur = 18
Boleh Membuat SIM

In [36]:
# Weekly Exercise 2

nilai = int(input('Masukkan Nilai = '))

if nilai >= 90:
  print('Grade = "A"')
elif nilai >= 80:
  print('Grade = "B+"')
elif nilai >= 70:
  print('Grade = "B"')
elif nilai >= 60:
  print('Grade = "C+"')
elif nilai >= 50:
  print('Grade = "C"')
elif nilai >= 40:
  print('Grade = "D"')
else:
  print('Grade = "E"')

Masukkan Nilai = 75
Grade = "B"

In [42]:
# Weekly Exercise 3

Nilai = float(input('Masukkan Nilai = '))

if 80.00 <= Nilai <= 100:
  print('Nilai = A')
elif 77.50 <= Nilai <= 79.99:
  print('Nilai = A-')
elif 75.00 <= Nilai <= 77.49:
  print('Grade = A/B')
elif 72.50 <= Nilai <= 74.99:
  print('Grade = B+')
elif 70.00 <= Nilai <= 72.49:
  print('Grade = B')
elif 67.50 <= Nilai <= 69.99:
  print('Grade = B-')
elif 65.00 <= Nilai <= 67.49:
  print('Grade = B/C')
elif 62.50 <= Nilai <= 64.99:
  print('Grade = C+')
elif 60.00 <= Nilai <= 62.49:
  print('Grade = C')
elif 55.00 <= Nilai <= 59.99:
  print('Grade = C-')
elif 50.00 <= Nilai <= 54.99:
  print('Grade = C/D')
elif 45.00 <= Nilai <= 49.99:
  print('Grade = D+')
elif 40.00 <= Nilai <= 44.99:
  print('Grade = D')
else:
  print('Grade = E')

Masukkan Nilai = 72
Grade = B